body {
  font-family: 'Arial', sans-serif;
  background: rgb(230, 255, 230);
  color: #333;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
  background: whitesmoke;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

.input-form {
  display: flex;
  gap: 10px;
  height: 30px;
  margin-bottom: 10px;
}

.input-form input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-form button {
  padding: 8px 16px;
  border: none;
  background: rgb(71, 190, 71);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.input-form button:hover {
  background: rgb(41, 153, 41);
}


.summary-container {
  display: flex;
  gap: 16;
  margin-bottom: 10px;
}

.summary-card {
  flex: 1;
  height: 150px;  
  margin: 25px;
  background: rgb(216, 252, 216);
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 24px;
}

.summary-card h3 {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

.summary-card h4 {
  font-size: 32px;
  text-align: center;
}

.table-container {
  background-color: rgb(216, 252, 216);
  border-radius: 24px; 
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  overflow-x: auto; 
}

.expense-table {
  width: 100%;
  text-align: left;
}

.expense-table th {
  padding: 18px 20px;
  font-size: 20px;
  font-weight: 700;
  color: #333;
}

.expense-table td {
  padding: 20px;
  font-size: 18px;
  color: #333;
  vertical-align: middle;
}

.expense-table tr:last-child td {
  border-bottom: none; 
}

.expense-table tbody tr {
  transition: background-color 0.2s ease;
  background-color: white;
  border-radius: 8px;
}

.expense-table button {
  padding: 8px 16px;
  border: none;
  background: rgb(240, 120, 120);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.expense-table button:hover {
  background: rgb(204, 63, 63);
}